body {
  background-image: url(../Images/Home/LOGIN.jpg);
  color: rgba(202, 220, 253, 0.683);
  line-height: 150%;
  text-indent: 15%;
  background-size:cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
form {
  border-top-left-radius: 55px;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
  border-top-right-radius: 55px;
  font-size: 18px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  background-size: cover;
  width: fit-content;
  width: 300px;
  height: 500px;
  margin-top: 80px;

  border: solid rgba(3, 41, 70, 0.611);
  position:center;
  margin: 0 auto;
  width:250px;
  background-color: rgba(28, 39, 99, 0.581);
  
}
a {
  text-decoration: solid;
  color: rgb(122, 151, 236);
}
a :hover {
  color: snow;
  background-color: rgba(71, 55, 93, 0.467);
}

div {
  margin-top: 10px;
  margin-left: 20px;
}
.form {
  margin: 18%;
}

#C {
  line-height: 130%;
  padding: 5px 0;
  margin: 0;
  background-color: rgba(36, 3, 58, 0.623);
  color:snow;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width: 98%;
  text-align: Center;
  
  word-spacing: 5px;
  letter-spacing: 1px;
  background-image: url(../Images/logo.jpg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position-x: 10%;
  background-position-y: center;
}
span {
  color: gold;
}
.button {
  background-color: transparent;
  color: rgb(122, 151, 236);
  border: 1.5px solid black;
  border-radius: 9px;
  text-decoration: solid;
  text-align: center;
  width: 80%;
  height: 30px;
  cursor: pointer;
  font-weight: 900;
  position: center;
  font-size: 13px;
  font-weight: 900;
  justify-content: center;
  align-content: center;
}
button {
  border: 1.5px solid rgb(69, 24, 85);
  border-radius: 15px;
  width: 40%;
  height: 30px;
}
.login,
.button {
  background-color: transparent;
  color: rgb(167, 180, 226);
  border: 1.5px solid rgb(54, 29, 117);
  border-radius: 9px;
  text-decoration: solid;
  text-align: center;
  width: 80%;
  height: 30px;
  cursor: pointer;
  font-weight: 900;
  position: inherit;
}
.button:hover {
  color: snow;
  background-color: rgba(71, 55, 93, 0.467);
}
.login:hover {
  color: snow;
  background-color: rgba(71, 55, 93, 0.467);
}
button:hover {
  color: snow;
  background-color: rgba(71, 55, 93, 0.467);
}
.footer-bottom{
  font-size: 20px;
  font-weight: 900;
  justify-content: center;
  align-content: center;
  color: rgb(30, 1, 57);
}
